/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
    --ff-primary: 'Roboto', sans-serif;
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
html{
    /* font-size: 62.5%; */
    scroll-behavior: auto;
}
body{
    font-family: var(--ff-primary);
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
/* ------my-theme----- */
.dark-theme{
  background-color: #323232;
  /* color: #fff; */
}
.dark-theme p{
  color: #ffffff;
}
.dark-theme h2{
  color: #ffffff;
}
.dark-theme h5{
  color: #ffffff;
}
.dark-theme header{
  background-color: rgb(184, 184, 184);
}
.dark-theme .project-details {
  background-color:  #244247;
}
.dark-theme section {
  background-color: #0b1618;
}
 .dark-theme .my-skill   {
  background-color: #244247;
}


